html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 15%;
  height: 100%;
  text-align: center;
  justify-content: center;
  object-fit: cover;
}

.site-white-section {
    margin: 0;
    padding-top: 90px;
    width: 100%;
    clear: both;
    display: block;
    text-align: center;
}

.site-white-section h2 {
    font-family: inherit;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: inherit;
    color: #292929;
    margin: 0 0 40px 0;
    padding: 0;
}

.site-white-section h1 {
    color: #292929;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.site-testimonial p {
    color: #565656;
    font-family: inherit;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;
    display: block;
    width: 100%;
    clear: both;
    /* margin: 80px 0 40px 0; */
    margin: 0px 0 40px 0;
    text-align: center;
}

.site-testimonial h5 {
    color: #801617;
    font-family: inherit;
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    display: block;
    width: 100%;
    clear: both;
    margin: 0 0 6px;
    text-align: center;
}


.swiper-pagination-bullet-active{
  background: #801617 !important;
  width: 1rem;
  height: 1rem;
}
.swiper-pagination-bullet{
  width: 1rem;
  height: 1rem;

}